{% extends "layouts/8x4.html" %}

{% block content %}

<div class="mhp-post-index">
    {% for post in pager.posts %}
    <div class="mhp-post-short">
        <div class="mhp-post-header">
            <div class="mhp-post-info">
                {{ post.publishedAt|formatDate }}
                <span class="badge badge-secondary">New</span>
            </div>
            <h2><a href="{{ post.uri|url }}">{{ post.attributes.title }}</a></h2>
        </div>

        <p>{{ post.summary|safe }}</p>

        <p><a href="{{ post.uri|url }}">Read more</a></p>
    </div>
    {% endfor %}

    {% include "components/pager.html" %}
</div>

{% endblock %}
