<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light">
        {% if front %}
            <span class="navbar-brand active">{{ siteTitle }}</span>
        {% else %}
            <a href="/" class="navbar-brand">{{ siteTitle }}</a>
        {% endif %}
        <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% for item in mainMenu %}
                <li class="nav-item{{ " active"|ifActivePath(item.uri, exact=item.exact) }}">
                    {{ item.uri|navlink(text=item.title, class="nav-link", exact=item.exact) }}
                </li>
                {% endfor %}
            </ul>
            {#
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            </form>
            #}
        </div>
    </nav>
</div>
