{% if pager.pages.length > 1 %}
<ul class="pagination">
    {% if pager.current.first %}
    <li class="page-item disabled">
        <span class="page-link">&lt;</span>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="{{ pager.current.previous.url }}">&lt;</a>
    </li>
    {% endif %}

    {% for page in pager.pages %}
    {% if page == pager.current %}
    <li class="page-item active"><span class="page-link">{{ page.number }}</span></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="{{ page.uri|url }}">{{ page.number }}</a></li>
    {% endif %}
    {% endfor %}

    {% if pager.current.last %}
    <li class="page-item disabled">
        <span class="page-link">&gt;</span>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="{{ pager.current.next.url }}">&gt;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
